{% extends '@GardenLayout/layout.html.twig' %}

{% block styles %}
    {% set backgroundImage = homepage.photo.mainPhoto.show() %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Static Banner Parallax Background-->
    {#<section class="main-slider static-banner default-banner">#}

    {#<div class="window-size" style="background-image:url({{ asset('bundles/gardenlayout/theme/images/main-slider/3.jpg') }});">#}
    {#<div class="auto-container">#}
    {#<div class="box-inner">#}
    {#<div class="static-content">#}
    {#<div class="big-title"><h2>WE PROVIDE THE BEST <BR>GARDEN CARE SOLUTION</h2></div>#}
    {#<div class="text"><p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis.#}
    {#Fusce lacinia nibh vitae fermentum finibus. <br>Donec malesuada efficitur dapibus.#}
    {#Cras euismod nunc tellus, eget tempor purus.</p></div>#}
    {#<div class="links-box"><a href="#" class="default-btn theme-btn">Our Services</a> &ensp; <a#}
    {#href="#" class="default-btn style-two theme-btn">Get Free Quote</a></div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#</section>#}
    <style>
        section.pt60 div.auto-container.pb-35 div.sec-title {
            background: rgba(255, 255, 255, 0.2);
            display: block;
            margin: 0 auto;
            width: 400px;
            text-align: center;
        }

        .featured-three-column .image {
            padding: 15px;
        }
    </style>

    {{ render(controller('KardiNewsBundle:Default:latestNews', {'quantity': 3, 'template':             'last_news_boxed.html.twig'})) }}

    <!--Start Our Department Areas-->
    {{ render(controller('KardiNewsBundle:Default:lastCategoryNews', {'categoryIdOrSlug': 32 ,'quantity': 6, 'template':             'last_news_advice.html.twig'})) }}

    {{ parent() }}
{% endblock %}
