{% extends 'KardiAdminBundle:Template:metronic.html.twig' %}

{% import 'KardiFrameworkBundle:Message:display_bootstrap_flash_message.html.twig' as flashMessage %}

{% block pageTitle %}
    Lista stron
{% endblock pageTitle %}

{% block content %}
    {% set breadcrumbItems = {'':(block('pageTitle'))} %}
    {{ parent() }}
{% endblock content %}

{% block pageContent %}

    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-body">
                    <div class="table-container">
                        {{ flashMessage.display_flash_message() }}
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('kardi_admin_add_news') }}" class="btn sbold green">
                                            Dodaj stronę <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-checkable"
                               id="datatable_ajax2">
                            <thead>
                            <tr role="row" class="heading">
                                <th> Id</th>
                                <th> Foto</th>
                                <th> Tytuł</th>
                                <th> Data ostatniej aktualizacji</th>
                                <th></th>
                            </tr>
                            <tr role="row" class="filter">
                                <td>
                                    {{ datatable.filterText }}
                                </td>
                                <td></td>
                                <td>
                                    {{ datatable.filterText }}
                                </td>
                                <td>
                                    {{ datatable.filterDate }}
                                </td>
                                <td>
                                    {{ datatable.filterButtons }}
                                </td>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock pageContent %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/kardiadmin/assets/global/plugins/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ asset('bundles/kardiadmin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}"/>
    <link rel="stylesheet"
          href="{{ asset('bundles/kardiadmin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
{% endblock styles %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/kardiadmin/assets/global/scripts/datatable.js') }}"></script>
    <script src="{{ asset('bundles/kardiadmin/assets/global/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/kardiadmin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/kardiadmin/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    {% set datatableRouteName = 'kardi_admin_page_data' %}
    {{ block('initDatatable') }}
{% endblock footer_javascripts %}
