{% extends 'form_div_layout.html.twig' %}

{% block submit_widget %}
    {% set type = type|default('submit') %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if fa is defined %}
            {% if left is defined and left %}
                <i class="fa {{ fa }}"></i>
            {% endif %}
            {% if label %}
                {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
            {% endif %}
            {% if right is defined and right %}
                <i class="fa {{ fa }}"></i>
            {% endif %}
        {% else %}
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% endif %}
    </button>
{% endblock submit_widget %}
