{% extends 'KardiLayoutBundle::layout.html.twig' %}

{% block title %} Tytuł {% endblock %}

{% block head %}
    {{ parent() }}

    <!-- Stylesheets -->
    <link href="{{ asset('bundles/gardenlayout/theme/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/gardenlayout/theme/css/revolution-slider.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/gardenlayout/theme/css/style.css') }}" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{{ asset('bundles/gardenlayout/theme/css/bootstrap-margin-padding.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/gardenlayout/theme/css/responsive.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js') }}"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/gardenlayout/theme/js/respond.js') }}"></script><![endif]-->


    {% stylesheets filter="scssphp" output="css/main.css"
    "@GardenLayoutBundle/Resources/Public/css/garden-theme.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block body %}

    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="#main-header"><span class="fa fa-arrow-up"></span></div>

{% endblock body %}

{% block footerscripts %}

    <script src="{{ asset('bundles/gardenlayout/theme/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/gardenlayout/theme/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gardenlayout/theme/js/revolution.min.js') }}"></script>
    <script src="{{ asset('bundles/gardenlayout/theme/js/js-collection.js') }}"></script>
    <script src="{{ asset('bundles/gardenlayout/theme/js/script.js') }}"></script>

{% endblock footerscripts %}
