{% if news %}
    <div class="block">
        <div class="featured-block">
            <div class="article-content">
                <h2>
                    <a href="{{ generate_news_url(news) }}">{{ news.trans('title') }}</a>
                    {% if comments_active() %}
                        <a href="{{ generate_news_url(news) }}#comments" class="h-comment">{{ news.countComments }}</a>
                    {% endif %}
                </h2>
                <span class="meta">
                <a href="{{ generate_news_url(news) }}"><span class="icon-text">&#128340; </span>{{ news.publishDate(false) }}</a>
            </span>
            </div>
            <div class="article-photo">
                <a href="{{ generate_news_url(news) }}" class="hover-effect"><img src="{{ asset(news.photo('630x250')) }}" alt=""/></a>
            </div>
        </div>
    </div>
{% endif %}
