{% extends 'KardiAdminBundle:Template:edit.html.twig' %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bundles/kardiadmin/plugins/cropper/dist/cropper.min.css">
    <link rel="stylesheet" href="/bundles/kardiadmin/plugins/cropper/examples/crop-avatar/css/main.css">
{% endblock styles %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/kardimedia/js/kardi_cropper.js') }}"></script>
    <script src="{{ asset('bundles/kardiadmin/plugins/cropper/dist/cropper.js') }}"></script>
{% endblock footer_javascripts %}

{% block pageTitle %}
    Edytuj zdjęcie
{% endblock %}

{% block content %}
    {% set breadcrumbItems = {(returnUrl): returnTitle, '':'Edytuj zdjęcie'} %}
    {% set withoutSidebar = true %}
    {{ parent() }}
{% endblock content %}

{% block pageContent %}
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12">

            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-news"></i> {{ block('pageTitle') }}
                    </div>
                </div>
                <div class="portlet-body form">
                    {% for size in photoSizes %}
                        {% include '@KardiMedia/Admin/Pattern/crop_photo.html.twig' with {size: size, key: loop.index} %}
                    {% endfor %}
                    <div class="clearfix"></div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-6">
                                <a href="{{ returnUrl }}" class="btn btn-warning">Powrót</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pageContent %}
