{% for photo in photos %}
    <div class="col-lg-3 col-xs-6 col-sm-4 col-md-4 photo-list-wrapper">
        <a href="{{ photo.show }}" class="fancybox-button" data-rel="fancybox-button"><img
                    class="img-responsive img-admin-responsive" src="{{ photo.show('126x126') }}" alt=""> </a>
        <div class="admin-image-buttons">
            {% if not loop.first %}
                <a href="javascript:;" class="btn btn-default btn-sm move-left" data-id="{{ photo.id }}">
                    <i class="fa fa-arrow-circle-left"></i> </a>
            {% endif %}
            <a href="javascript:;" class="btn btn-default btn-sm delete" data-id="{{ photo.id }}">
                <i class="fa fa-times"></i> Usuń </a>

            <a href="{{ path('kardi_media_edit_photo', {'id': photo.id}) }}" class="btn btn-default btn-sm">
                <i class="fa fa-cut"></i></a>
            {% if not loop.last %}
                <a href="javascript:;" class="btn btn-default btn-sm move-right" data-id="{{ photo.id }}">
                    <i class="fa fa-arrow-circle-right"></i> </a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<div class="clearfix"></div>
