<div role="tabpanel" class="tab-pane" id="form_settings">
    {{ form_row(form.author) }}
    {{ form_row(form.publishDate) }}
    {{ form_row(form.active) }}
    {{ form_row(form.breakingNews) }}
    {{ form_row(form.categoryId) }}
</div>
