<div class="widget">
    <h3>Socialize</h3>
    <div class="widget-social">
        <div class="social-bar">
            {% if settings.hasFacebook %}
                <a href="{{ settings.getTwitter }}" class="social-icon"><img src="{{ asset('social/icon-twitter.png') }}" alt="Twitter" /></a>
            {% endif %}

            {% if settings.hasFacebook %}
                <a href="{{ settings.getFacebook }}" class="social-icon"><img src="{{ asset('social/icon-facebook.png') }}" alt="Facebook" /></a>
            {% endif %}

            {% if settings.hasGooglePlus %}
                <a href="{{ settings.getGooglePlus }}" class="social-icon"><img src="{{ asset('social/icon-googleplus.png') }}" alt="Google+" /></a>
            {% endif %}

            {% if settings.hasLinkedin %}
                <a href="{{ settings.getLinkedin }}" class="social-icon"><img src="{{ asset('social/icon-linkedin.png') }}" alt="LinkedIn" /></a>
            {% endif %}
        </div>
    </div>
    <!-- END .widget -->
</div>
