<div class="col-md-6 col-lg-4 cropperRowWrapper">
    <div class="cropperRow" id="cropperRow{{ key }}">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default modalShow">
            Edytuj miniaturkę w rozmiarze {{ size }}
        </button>
        <img src="{{ photo.show(size) }}" class="photoPreview" alt="Show photo"/>
        <!-- Modal -->

        <div class="modal fade" aria-labelledby="modalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="cropperWrapper">
                            <img class="originalPhoto" id="originalPhoto" src="{{ photo.show() }}" alt="Picture"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success cropIt">Crop</button>
                        <button type="button" class="btn btn-default" id="closeModal" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var targetElement = $('#cropperRow{{ key }}');

        kardiCroppic(targetElement,
            {
                size: '{{ size }}',
                outputFilename: '{{ photo.show(size) }}'
            }
        );
    })
</script>
