{% extends 'EmigrantLayoutBundle:Default:index.html.twig' %}

{% import 'KardiFrameworkBundle:Message:display_flash_message.html.twig' as flash_macro %}

{% block title %}
    {{ parent() }}
    {{ ad.title }}
{% endblock %}

{% block description %}
    {{ parent() }}
    {{ ad.content }}
{% endblock %}

{% block display_ad_info %}
    <div class="author">
        <div class="a-content">
            <span>{% trans %}Price{% endtrans %}: <b>{{ ad.price | localizedcurrency(ad.currency) }}</b></span>
            <span>{% trans %}Email{% endtrans %}: <b>{{ ad.email }}</b></span>
            <span>{% trans %}Phone{% endtrans %}: <b>{{ ad.phone }}</b></span>
            <span>{% trans %}Town{% endtrans %}: <b>{{ ad.town }}</b></span>
            <span>{% trans %}County{% endtrans %}: <b>{{ ad.county }}</b></span>
            <span>{% trans %}Expires{% endtrans %}: <b>{{ ad.expiredAt | date('d/m/Y H:i') }}</b></span>
            <br/>
        </div>
    </div>
{% endblock %}

{% block contentBlock %}
    <!-- BEGIN .single-block -->
    <div class="single-block single-advertisement">
        <!-- BEGIN .content-block -->
        <div class="content-block main left">
            <div class="article-title">
                <div class="share-block right">
                    {{ block('display_ad_info') }}
                </div>
                <h1>{{ ad.title }}</h1>
                <span class="meta">
                    <span class="tag">
                        <a href="{{ path('kardi_ad_category', {'slug': ad.category.trans('slug')}) }}">
                            {{ ad.category.trans('title') }}
                        </a>
                    </span>
                </span>
            </div>
            <div class="block">
                <div class="block-content">
                    <div class="shortcode-content">
                        <div class="paragraph-row">
                            <div class="column4">
                                <p>
                        <span class="hover-effect">
                            <img src="{{ ad.photo.mainPhoto.show('400x300') }}" alt="{{ ad.title }}"/>
                        </span>
                                </p>
                            </div>
                            <div class="column8">
                                {{ ad.content }}
                            </div>
                        </div>
                        <div class="article-title">
                            <div class="share-block right">
                                <div>
                                    <div class="share-article left">
                                        <span>{% trans %}Social media {% endtrans %}</span>
                                        <strong>{% trans %}Share this advertisement {% endtrans %}</strong>
                                    </div>
                                    <div class="left">
                                        <a href="{{ twitter_share_link() }}" class="custom-soc icon-text">&#62217;</a>
                                        <a href="{{ facebook_share_link() }}" class="custom-soc icon-text">&#62220;</a>
                                        <a href="{{ google_plus_share_link() }}"
                                           class="custom-soc icon-text">&#62223;</a>
                                        <a href="{{ pinterest_share_link() }}" class="custom-soc icon-text">&#62226;</a>
                                        <a href="{{ linkedin_share_link() }}" class="custom-soc icon-text">&#62232;</a>
                                    </div>
                                    <div class="clear-float"></div>
                                </div>
                                <div>
                                    <a href="window.print()" class="small-button"><span
                                                class="icon-text">&#59158;</span>&nbsp;&nbsp;{% trans %}
                                        Print{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END .content-block -->
        </div>
        <!-- END .single-block -->
    </div>
{% endblock %}
