<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a id="index" class="page-logo" href="{{ path('kardi_admin_homepage') }}">
                    <img src="{{ asset('bundles/kardiadmin/img/kmcms_icon.png') }}" alt="KM CMS" />
                </a>
                <!-- END LOGO -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">

                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span>Cześć {{ app.user.username }}</span>
                            <img src="{{asset('bundles/kardiadmin/assets/layouts/layout/img/avatar11.jpg')}}" alt=""> </button>
                    </div>


                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <a href="{{ path('fos_user_security_logout') }}" class="quick-sidebar-toggler">
                        <i class="icon-logout"></i>
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-fw dropdown-fw-disabled">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="fa fa-newspaper-o"></i> Aktualności
                        </a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li>
                                <a href="{{ path('kardi_admin_news') }}">
                                    <i class="fa fa-newspaper-o"></i>
                                    Aktualności
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('kardi_admin_news_category') }}">
                                    <i class="fa fa-list-alt"></i>
                                    Kategorie
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('kardi_admin_news_tag') }}">
                                    <i class="fa fa-tags"></i>
                                    Tagi
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-fw dropdown-fw-disabled">
                        <a href="{{ path('kardi_admin_gallery') }}" class="text-uppercase">
                            <i class="fa fa-photo-o"></i> Galeria
                        </a>
                    </li>
                    <li class="dropdown dropdown-fw dropdown-fw-disabled">
                        <a href="{{ path('kardi_admin_page') }}" class="text-uppercase">
                            <i class="fa fa-photo-o"></i> Strony
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('kardi_admin_menu_list') }}" class="text-uppercase">
                            <i class="fa fa-list-o"></i> Menu
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('kardi_admin_user_admin_list') }}" class="text-uppercase">
                            <i class="fa fa-user-o"></i> Administratorzy
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!--/container-->
    </nav>
</header>
