<div class="widget">
    <h3>{% trans %}Subscribe to our newsletter {% endtrans %}</h3>
    <div class="mailing-list">
        <p>{{ 'subscribe.info.message' | trans() }}</p>
        <hr/>
        <!-- <div class="info-message fail">
            <span class="icon-text">&#9888;</span>
            <b>Whooooops !</b>
            <p>You made a little error here !</p>
        </div> -->
        <!-- <div class="info-message">
            <span class="icon-text">&#10227;</span>
            <b>Loading!</b>
            <p>This may take a few seconds !</p>
        </div> -->

        {% for flash_message in app.session.flashBag.get('newsletter') %}
            <div class="info-message success">
                <span class="icon-text">&#128077;</span>
                <b>{{ 'subscribe.success.title' | trans({}) }}</b>
                <p>{{ flash_message | trans() }}</p>
            </div>
        {% endfor %}

        <div class="subscribe-block">
            {% form_theme form with ['KardiFrameworkBundle:Form:form_style_p.html.twig', _self] %}
            {{ form_start(form, {'action': path('kardi_newsletter_subscribe'), 'method': 'POST'}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subscribe) }}
            {{ form_end(form) }}
        </div>
    </div>
    <!-- END .widget -->
</div>

