{% import 'KardiFrameworkBundle:Message:display_flash_message.html.twig' as flash_macro %}

<div class="widget">
    <h3>{% trans %}Subscribe to our newsletter {% endtrans %}</h3>
    <div class="mailing-list">
        <p>{{ 'subscribe.info.message' | trans() }}</p>
        <hr/>

        {{ flash_macro.display_flash_message('subscribe') }}

        <div class="subscribe-block">
            {% form_theme form with ['KardiFrameworkBundle:Form:form_style_p.html.twig', _self] %}
            {{ form_start(form, {'action': path('kardi_newsletter_subscribe'), 'method': 'POST'}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subscribe) }}
            {{ form_end(form) }}
        </div>
    </div>
    <!-- END .widget -->
</div>

